<p id="notice"><%= notice %></p>

<h1>
  Specialist
</h1>

<p>
  <strong>Name:</strong></br>
  <%= @specialist.full_name %>
</p>

<p>
  <strong>Specialty:</strong></br>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Patient & Appointment Date & Number of Days Left:</strong></br>
  <% @specialist.appointments.each do |appointment| %>
    <%= "#{appointment.patient.full_name}   #{appointment.appointment_date}   #{appointment.days_left}" %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
