<p id="notice"><%= notice %></p>

<h1>
  Insurance
</h1>

<p>
  <strong>Name:</strong></br>
  <%= @insurance.name %>
</p>

<p>
  <strong>Street Address:</strong></br>
  <%= @insurance.street_address %>
</p>

<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
