<p id="notice"><%= notice %></p>

<h1>
  Patient
</h1>

<p>
  <strong>Name:</strong></br>
  <%= @patient.full_name %>
</p>

<p>
  <strong>Street Address:</strong></br>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong></br>
  <%= @patient.insurance.name %>
</p>

<p>
  <strong>Specialist & Appointment Date:</strong></br>
  <% @patient.appointments.each do |appointment| %>
    <%= "#{appointment.specialist.full_name}   #{appointment.appointment_date}" %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>