<p id="notice"><%= notice %></p>

<h1>
  Appointment
</h1>

<p>
  <strong>Specialist:</strong></br>
  <%= @appointment.specialist.full_name %>
</p>

<p>
  <strong>Patient:</strong></br>
  <%= @appointment.patient.full_name %>
</p>

<p>
  <strong>Complaint:</strong></br>
  <%= @appointment.complaint %>
</p>

<p>
  <strong>Appointment Date:</strong></br>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Fee:</strong></br>
  <%= @appointment.fee %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
